.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.items {
    grid-area: main;

    overflow: auto;
}

.header {
    grid-area: header;
}

.sidebarBox {
    margin: 0px 0px 20px;
}

.wrapper {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "main main main sidebar"
     
    }

.box {
    background-color: #1e1d1f;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.cardsContainer {
    display: flex;
}

.spaceTop {
    margin-top: 40px;
}
.eventLog {
    margin-top: 20vh;
}
